$common-background: rgba(30, 143, 255, 0.781);


body {
    background-image: url("kids-doodles_1108-181.webp");
}

.top {
    width: 100%;
    height: 35vh;
    align-items: center;
    display: flex;
    margin-top: auto;
}

.intop {
    width: 60%;
    height: 100%;
    align-items: center;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 80%;
    align-items: center;
    display: flex;
    margin-bottom: auto;
}

.title1 {
    width: 70%;
    height: 100%;
    flex-direction: column;
    background-color: $common-background;
    border-radius: 20px;
}

.logo {
    width: 25%;
    height: 100%;
    background-image: url("79368773_455570938677853_4556502281448587264_n.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    width: 100%;
    height: 20%;
    align-items: center;
    display: flex;
    margin-top: auto;
    gap: 50px;
    justify-content: center;
    position: sticky;
}

.toppicture {
    background-image: url("jonathan-borba-CgWTqYxHEkg-unsplash1.jpg");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

.text {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: auto;
    width: 100vw;
    height: 210vh;
}

.intext {
    align-items: center;
    display: flex;
    width: 90%;
    height: 95%;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.lefttext {
    background-color: $common-background;
    width: 95%;
    height: 100%;
    border-radius: 20px;
}

.righttext {
    background-color: $common-background;
    width: 95%;
    height: 100%;
    justify-content: right;
    display: flex;
    border-radius: 20px;
}

.righttextinter {
    width: 80%;
    height: 98%;
    align-items: center;
    justify-content: left;
}

a {
    color: rgb(85, 0, 0);
}

.redtext {
    color: rgb(175, 0, 0);
}

h2 {
    font-size: x-large;
    text-align: left;
}

.rightnadpis {
    width: 100%;
    height: 8%;
}

.days {
    width: 12%;
    height: 10%;
}