H1{
    color: #FF8300;
    font-size: 30px;
    text-align: center;
    font: bold;
}
.headline{
    color: rgb(234, 0, 255);
    font: inherit;
}
.text{
    color: #00DCFF;
    font: normal;
    font-size: 16px;
}
.text2{
    color: #1FFF00;
    font: 600;
    font-size: 25px;
}
html{
    background-color: black;
}